Options +FollowSymLinks
RewriteEngine On
			RewriteBase /
RewriteRule ^vivo/(.*)/(.*)/(.*)\.(.*)$ /streaming/clients_live.php?username=$1&password=$2&stream=$3&extension=$4;
#RewriteRule ^movie/(.)/(.)/(.)$ /streaming/clients_movie.php?username=$1&password=$2&stream=$3&type=movie;
#RewriteRule ^series/(.)/(.)/(.)$ /streaming/clients_movie.php?username=$1&password=$2&stream=$3&type=series;
RewriteRule ^(.*)/(.*)/(.*).ch$ /streaming/clients_live.php?username=$1&password=$2&stream=$3&extension=ts;
RewriteRule ^(.*)\.ch$ /streaming/clients_live.php?extension=ts&stream=$1&qs=$query_string;
RewriteRule ^ch(.*)\.m3u8$ /streaming/clients_live.php?extension=m3u8&stream=$1&qs=$query_string;
#RewriteRule ^hls/(.)/(.)/(.)/(.)/(.)$ /streaming/clients_live.php?extension=m3u8&username=$1&password=$2&stream=$3&type=hls&segment=$5&token=$4;
#RewriteRule ^hlsr/(.)/(.)/(.)/(.)/(.)/(.)$ /streaming/clients_live.php?token=$1&username=$2&password=$3&segment=$6&stream=$4&key_seg=$5;
#RewriteRule ^timeshift/(.)/(.)/(.)/(.)/(.)\.(.)$ /streaming/timeshift.php?username=$1&password=$2&stream=$5&extension=$6&duration=$3&start=$4;
#RewriteRule ^timeshifts/(.)/(.)/(.)/(.)/(.)\.(.)$ /streaming/timeshift.php?username=$1&password=$2&stream=$4&extension=$6&duration=$3&start=$5;
#RewriteRule ^(.)/(.)/(\d+)$ /streaming/clients_live.php?username=$1&password=$2&stream=$3&extension=ts;
RewriteRule ^server/load.php$ /portal.php;
